* {
    margin: 0;
    padding: 0;
    font-family: "VK Sans Display Regular";
    color: #003288;
}
body {
    background: linear-gradient(90deg, #69b7eb, #b3dbd3, #f4d6db);
    position: relative;
}
h1 {
    text-align: center;
    margin: 20px 0;
}
#projectSelector{
    text-align: center;
    margin-bottom: 20px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}
.kpi , .plan{
    display: flex;
    justify-content: center;
}
.kpi input , .plan input {
    background: rgb(171, 171, 171);
    height: 30px;
    width: 200px;
    text-align: center;
    margin: 15px 10px;
    border: none;
    border-radius: 10px; 
    color: #000000; 
    font-weight: bold;
    padding: 10px; 
    outline: none; 
    transition: all 0.3s;
}

/* Стиль для hover-эффекта (при наведении) */
.kpi input:hover, .plan input:hover {
    background: rgb(192, 192, 192);
}

/* Стиль для фокуса (когда input активен) */
.kpi input:focus, .plan input:focus {
    scale: 1.05;
    box-shadow: 0 0 5px rgba(65, 65, 65, 0.7); /* Добавляем тень при фокусе */
}
.input_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#startCalculate {
    display: block;
    margin: 0 auto;
    width: 120px;
    height: 40px;
    border: none;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: rgb(255, 255, 255);
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    background-image: linear-gradient(to right, #003CC5 0%, #0B63F6 51%, #003CC5 100%);
    cursor: pointer;
    margin-bottom: 20px;
}

#startCalculate:hover {
    background-position: right center;
}
#root{
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    width: 120px;
    height: 40px;
    border: 1px solid;
    font-size: 15px;
    line-height: 40px;
    border-radius: 5px;
}
#root, .title {
    text-align: center;
    border-radius: 5px;
    background-image: linear-gradient(to right, #003CC5 0%, #0B63F6 51%, #003CC5 100%);
    font-weight: bold;
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientAnimation 1.5s linear infinite;
    background-size: 200% auto;
}

@keyframes gradientAnimation {
    0% {
        background-position: 100% 0%;
    }
    100% {
        background-position: -100% 0%;
    }
}
.title_big {            
    margin: 0 auto;
    text-align: center;
    border-radius: 3px;
    width: 100px;
    height: 25px;
    line-height: 25px;
    background-image: linear-gradient(to right, #003CC5 0%, #0B63F6 51%, #003CC5 100%);
    color:#b9deed;
    background-size: 200% auto;
    color: rgb(255, 255, 255);
    box-shadow: 0 0 20px #eee;
    transition: 0.5s;
}
.title_big:hover {
    background-position: right center;
}
.switch-btn {
    display: inline-block;
    width: 72px; /* ширина */
    height: 38px; /* высота */
    border-radius: 19px;
    background: #bfbfbf; /* цвет фона */
    z-index: 0;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
    position: fixed;
    right: 5%;
    transition-duration: 300ms; /* анимация */
  }
  .switch-btn::after {
    content: "";
    height: 32px; /* высота кнопки */
    width: 32px; /* ширина кнопки */
    background: url(VK\ Logo.svg);
    background-size: contain; 
    border-radius: 17px;
    top: 3px; /* положение кнопки по вертикали относительно основы */
    left: 3px; /* положение кнопки по горизонтали относительно основы */
    transition-duration: 300ms; /* анимация */
    position: absolute;
    z-index: 1;
  }
  .switch-on {
    background: #0077ffbc;
  }
  .switch-on::after {
    left: 37px;
  }
.pmr {
    position: fixed;
    right: 11%;
    margin-top: 0.5%;
}
.rf {
    position: fixed;
    right: 2%;    
    margin-top: 0.5%;
}